@model teste.Models.Entities.Contacts

@{
    ViewData["Title"] = "Detalhes";
    ViewData["SubTitle"] = "Início / ";
}

<h1>Detalhes</h1>

<div class="table">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aniversario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aniversario)
        </dd>

        
    @* Exibição de telefones *@

        <dt class="col-sm-2">
            Telefone(s):
        </dt>
        <dd class="col-sm-10">

            @foreach (var item in Model.Phone)
            {
                <span style="margin-right: 15px;">@Html.DisplayFor(modelItem => item.Telefone)</span>
            }

        </dd>

    </dl>
</div>


<div>|
    <a asp-action="Index">Retornar</a>
</div>


@section css {
    <link rel="stylesheet" href="~/wwwroot/css/details.css" />
}